*{
    box-sizing: border-box;
}


section {
    display: flex;
    flex-direction: row;
}

div#formDiv {
    width: 25%;
}



form {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: space-around;
}

form input {
    width: fit-content;
    min-width: 100px;
}

form select {
    width: fit-content;
}

form label{
    margin: 15px 0 0 0;
}

form button {
    margin: 15px 0 0 0;
    width: fit-content;
}


.row {
    display: flex;
    align-items: baseline;
    flex-direction: row;
}

.inputes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


div#myCars {
    width: 70%;
    height: 400px;
    overflow: overlay;

}

img {
    width: inherit;
}

table {
    width: 100%;
    border: dashed gray;
    background-color: #d0d0d080;
    height: inherit;
}

tr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 82px;
}

td {
    width: 50px;
    text-align: center;
}
/* div#myCars ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
} */